html,
body {
  background: radial-gradient(40.48% 67.6% at 50% 32.4%,#ecf4ff 0,#f7f7ff 52.77%,#f7f7f7 100%),#f6f7fa !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: linear-gradient(
    330.4deg,
    rgb(68, 188, 240) 4.54%,
    rgb(114, 152, 248) 59.2%,
    rgb(160, 153, 255) 148.85%
  ) !important;
  border-radius: 12px;
  color: white !important;
  padding: 14px 16px !important;
  font-weight: bold;
}

button:disabled {
  background: #ecf4ff !important;
  color:rgb(114, 152, 248) !important;
}

p {
  margin: 0 !important;
}

input {
	outline: none;
}

